<div class="col-lg-5">
    <div class="bg-light mb-5 p-5">
        <div class="d-flex align-items-center mb-2">
            <i class="bi bi-geo-alt fs-1 text-primary me-3"></i>
            <div class="text-start">
                <h6 class="text-uppercase mb-1">Nuestra Oficina</h6>
                <span>Fraguerio 2234, Córdoba, Argentina</span>
            </div>
        </div>
        <div class="d-flex align-items-center mb-2">
            <i class="bi bi-envelope-open fs-1 text-primary me-3"></i>
            <div class="text-start">
                <h6 class="text-uppercase mb-1">Email</h6>
                <span>info@dog_shop.com</span>
            </div>
        </div>
        <div class="d-flex align-items-center mb-4">
            <i class="bi bi-phone-vibrate fs-1 text-primary me-3"></i>
            <div class="text-start">
                <h6 class="text-uppercase mb-1">Llámanos</h6>
                <span>(+54 9) 351 5876322</span>
            </div>
        </div>
    </div>
</div>