{% extends 'base.html' %}

{% load static %}

{% block contenido_que_cambia %}
<div style="margin-left: 200px;">
    <h1>Perfil de {{user.username.capitalize}}</h1>
</div>

{% if miFormulario.errors %}
<p style="color: red">Los datos ingresados son incorrectos</p>   
{% endif %}

<div style="margin-left: 200px;">
    <form >
        <table> 
            {{miFormulario.as_table}}
        </table>
        <button>
            <a href="{% url 'EditarPerfil' %}">Editar</a>
        </button>
        <button>
            <a href="{% url 'EliminarPerfil' %}">Eliminar</a>
        </button>
    </form>
</div>

{% endblock contenido_que_cambia %}
